<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
        
        </div>

        <div>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                </li> 
            {% endfor %}
            </ul> <!--ul to define unordered list. 
            within list, create serries of list elements which contains an HTML hyperlink
            hyperlink has hrref attribute which we use to specify target url defined by /rango/category/{{ category.slug }}-->
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>
        {# All template commands are enclosed within {% ... %}, while variables are referenced with {{ ... }} #}

        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.jpg' %}"
            alt="Picture of Rango" /> <!-- New line -->
        </div>
            
    </body>
</html>


